@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-zenith-black;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.rbc-label {
  color: #050404;
  font-weight: 500;
}

.rbc-time-view {
  border: none !important;
}

.timeline-box {
  padding: 15px;
  border-radius: 4px;
  border: 0.25px solid #e5e5e5;
}

.rbc-time-view .rbc-time-content {
  border-top: 1px solid #ddd;
}

.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: 0.5px solid rgba(0, 0, 0, 0.16) !important;
}

.rbc-header {
  text-align: left !important;
  z-index: 1 !important;
  border-bottom: none !important;
  overflow: initial !important;
}

.rbc-toolbar button {
  border: none !important;
  background-color: #faf8f8 !important;
  border-radius: 4px !important;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px dashed #f7f7f7 !important;
}

.rbc-today {
  background-color: #fafafa !important;
}

.rbc-current-time-indicator {
  background-color: #a70804 !important;
}

.rbc-timeslot-group {
  min-height: 50px !important;
}

.rbc-event-label {
  font-size: 65% !important;
}

.rbc-event-content {
  font-size: 14px !important;
  font-weight: bold !important;
}

.rbc-time-content {
  overflow-y: inherit !important;
}

.rbc-toolbar button {
  padding: 5px !important;
}

.rbc-time-header-cell {
  min-height: 60px !important;
}

.ck.ck-editor {
  width: 335px !important;
}

.scrollable-element::-webkit-scrollbar {
  width: 12px;
}
.scrollable-element::-webkit-scrollbar-track {
  background-color: white;
}
